body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}

.ant-layout {
    height: 100%;
    width: 100%;
}

.header {
    height: 80px;
}

.main {
    height: calc(100% - 80px);
    display: flex;
    text-align: center;
}

.main .box_left,
.main .box_right {
    min-width: 300px;
    width: 30%;
    height: 100%;
}

.center {
    min-width: 800px;
    width: 100%;
    min-height: calc(100% - 80px);
    height: 100%;
}

.ant-btn:nth-child(2) {
    margin-right: 20px;
}